{% extends 'base.html.twig' %}

{% block body %}

    <h2>Les fondateurs</h2>
    <div class="presentationSortie">
        <div class="colonneSortie">

                <img class="illussortie" src="{{ asset('images/fondateurs/MicrosoftTeams-image (1).png') }}" alt="">
                <h3>Nom Prenom</h3>
                <p>Biographie</p>
        </div>
        <div class="colonneSortie">

            <img class="illussortie" src="{{ asset('images/fondateurs/MicrosoftTeams-image (2).png') }}" alt="">
            <h3>Nom Prenom</h3>
            <p>Biographie</p>
        </div>
        <div class="colonneSortie">

            <img class="illussortie" src="{{ asset('images/fondateurs/MicrosoftTeams-image (3).png') }}" alt="">
            <h3>Nom Prenom</h3>
            <p>Biographie</p>
        </div>

    </div>

{% endblock %}

{% block title %}

{% endblock %}

