{% extends 'base.html.twig' %}

{% block body %}

    <h2>Les fondateurs</h2>
    <div class="presentationSortie">
        <div class="colonneSortie">
            <h3>Justin CANDELA</h3>

            <div class="colonneFondateur">
                <img class="illussortie" src="{{ asset('images/fondateurs/MicrosoftTeams-image (1).png') }}" alt="">

                <p class="biographie">
                    Autrefois métalleux mangeur de rats, il est revenu de cette sombre époque et cherche désormais des évènements pour se sociabiliser et ne pas retomber dans ses anciens travers.
                </p>
            </div>
        </div>
        <div class="colonneSortie">
            <h3>Thomas GARCIA-PARDO</h3>
            <div class="colonneFondateur">
                <img class="illussortie" src="{{ asset('images/fondateurs/MicrosoftTeams-image (2).png') }}" alt="">

                <p class="biographie">
                    Principalement interéssé par les plantes carnivores en pot, il cherche à faire de nouvelles rencontres pour discuter les combats de Smash et la necessité de prendre des douches.
                </p>
            </div>
        </div>
        <div class="colonneSortie">
            <h3>Jonathan DO VALE</h3>
            <div class="colonneFondateur">
                <img class="illussortie" src="{{ asset('images/fondateurs/MicrosoftTeams-image (3).png') }}" alt="">

                <p class="biographie">
                    Ne s'exprimant qu'à travers des citations de films ou de vidéos Youtube obscures, il aime les rassemblements pour enrichir son vocabulaire et communiquer sans grande éfficacité avec son prochain.
                </p>
            </div>
        </div>

    </div>

{% endblock %}



