{% extends 'base.html.twig' %}

{% block body %}
{{ form(sortieForm) }}

    <div style="display : none" id="passagedevaleurs" data-liste="{{ liste }}" ></div>
    <script src="{{ asset('JS/choixLieu.js') }}"></script>


{% endblock %}

{% block title %}

{% endblock %}



