@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Original+Surfer&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  margin: 0;
  background-color: #f8f8f1;
  color: #1e504f;
  font-family: "Sintony", sans-serif;
}

main {
  min-height: 70vh;
}

footer {
  text-align: center;
  background-color: #f8f8f1;
  color: #1e504f;
  font-family: "Sintony", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.grandtitre {
  margin-left: 10px;
  font-family: "Pacifico", cursive;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
  text-align: center;
  font-family: "Lobster", cursive;
  margin-top: 10px;
  margin-bottom: 5px;
}

nav {
  background-image: linear-gradient(to right, rgba(236, 190, 109, 0.36) 0%, #f8e6c7 70%, rgba(236, 190, 109, 0.36) 100%), url("../../public/images/bannière.png");
  background-size: 200%, 100%;
  background-position: 0 0, left 35%;
  font-family: "Lobster", cursive;
  border-bottom: 1px solid #1e504f;
  transition: background-position 0.1s;
  height: 28vh;
}
nav:hover {
  background-position: right center, left 35%;
  transition: background-position 0.5s;
}

.logo {
  position: relative;
  left: 0;
  max-height: 21vh;
  z-index: 7;
  transition: opacity 0.5s;
}
.logo:hover {
  opacity: 0;
}

.logo2 {
  max-height: 21vh;
  position: absolute;
  left: 0;
  z-index: 1;
}

.fichesortie {
  background-image: linear-gradient(to right, #ecbe6d 0%, #f8e6c7 70%, #ecbe6d 100%);
  background-size: 200%;
  border-radius: 10px;
  border: 2px solid #1e504f;
  width: 30vw;
  margin: 1.2vw;
  font-family: "Sintony", sans-serif;
  height: 190px;
  transition: background-position 0.5s;
  box-shadow: inset 5px 5px 15px 5px #ecbe6d;
}
.fichesortie:hover {
  background-position: right center;
}

.contenufichesortie {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.textefichesortie {
  margin: 0;
  padding: 0;
  margin-left: 0.8vw;
  width: 25vw;
}

.imageMiniature {
  display: block;
  overflow: hidden;
  height: 5vw;
  width: 10vw;
  float: right;
  border-radius: 100%;
  justify-self: end;
  margin: 2vw;
}

.listesorties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.navpremiereligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-zone-liens {
  text-shadow: 0px 0px 4px white;
  margin: 10px;
}

.nav-zone-liens > a {
  margin-left: 10px;
  font-size: 1.5em;
}

.nav-zone-liens > a:hover {
  text-decoration: underline;
}

.illussortie {
  max-height: 30vh;
  max-width: 30vw;
  border-radius: 10px;
  border: 2px solid #1e504f;
}

.map {
  max-height: 30vh;
  max-width: 25vw;
  border-radius: 10px;
  border: 2px solid #1e504f;
}

.colonneSortie {
  margin-left: 2px;
  width: 30vw;
}

.presentationSortie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.colonneinscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boutonInscription {
  background-color: #1e504f;
  padding: 6px;
  color: #ecbe6d;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border: 4px inset #1e504f;
}

input {
  text-align: center;
  font-family: "Sintony", sans-serif;
  width: 40vw;
  border-top: solid 2px #1e504f;
  border-bottom: solid 2px #1e504f;
  border-left: 0px;
  border-right: 0px;
  border-radius: 40px;
  padding: 5px;
  margin-bottom: 5px;
}
input:focus {
  border-color: #ecbe6d;
  outline: none;
}

select {
  text-align: center;
  font-family: "Sintony", sans-serif;
  width: 40vw;
  border-top: solid 2px #1e504f;
  border-bottom: solid 2px #1e504f;
  border-left: 0px;
  border-right: 0px;
  border-radius: 40px;
  padding: 5px;
  margin-bottom: 5px;
}
select:focus {
  border-color: #ecbe6d;
  outline: none;
}

textarea {
  text-align: center;
  font-family: "Sintony", sans-serif;
  width: 40vw;
  border-top: solid 2px #1e504f;
  border-bottom: solid 2px #1e504f;
  border-left: 0px;
  border-right: 0px;
  border-radius: 40px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 4;
}
textarea:focus {
  border-color: #ecbe6d;
  outline: none;
}

label {
  width: 25vw;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 60vw;
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vich-file {
  margin-left: 5px;
}

.zoneFormulairesortie {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  text-align: center;
  font-family: "Sintony", sans-serif;
  width: 40vw;
  border-top: solid 2px #1e504f;
  border-bottom: solid 2px #1e504f;
  border-left: 0px;
  border-right: 0px;
  border-radius: 40px;
  padding: 5px;
  margin-bottom: 5px;
  width: 10vw;
  background-color: #e7e7cf;
  background-image: linear-gradient(90deg, #e7e7cf 45%, #ecbe6d 50%, #ecbe6d 55%);
  background-size: 220%;
  transition: background-color 0.3s, background-position 0.3s;
}
button:focus {
  border-color: #ecbe6d;
  outline: none;
}
button:hover {
  background-color: #d6d6ad;
  background-position: right center, left 100%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f8f8f1;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #1e504f;
  border-radius: 20px;
  width: 60vw; /* Could be more or less, depending on screen size */
}

.close {
  color: #3a9a98;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  cursor: pointer;
  color: #020606;
}

.zonederecherche {
  background-color: #ecbe6d;
  padding-left: 5vw;
  font-size: 1.5em;
  cursor: pointer;
}

.formulairederecherche {
  display: none;
  scale: 0, 0;
  transition: all 2s;
}

.champspeciaux > div {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.champspeciaux > div > div {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input[type=radio] {
  width: 15px;
}

input[type=checkbox] {
  width: 15px;
}

.presentationprofil {
  margin-left: 3vw;
}

.biographie {
  width: 15vw;
  margin-left: 10px;
  margin-right: 5px;
}

.colonneFondateur {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  .biographie {
    width: auto;
  }
  .colonneFondateur {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .listesorties {
    flex-direction: column;
  }
  .fichesortie {
    width: 80vw;
    height: 320px;
  }
  .contenufichesortie {
    flex-direction: column;
    width: 80vw;
  }
  .textefichesortie {
    width: 70vw;
  }
  .imageMiniature {
    width: 70vw;
    max-width: 70vw;
    height: 15vh;
  }
  .presentationSortie {
    display: flex;
    flex-direction: column;
  }
  .colonneSortie {
    width: 80vw;
  }
  .map {
    width: 80vw;
    max-width: 80vw;
  }
  button {
    width: 60vw;
  }
}

/*# sourceMappingURL=app.css.map */
