{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
{{ form(lieuForm) }}
    <script src="{{ asset('JS/appelApiAdresses.js') }}"></script>
    <div id="affichage"></div>
{% endblock %}
